<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-blog md-padding">
  <h1 class="text-white text-center">BLOG</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="blog" class="md-padding">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8">
        <div class="row">
          {{#if sessionFlash.message}}
            <div style="padding-left: 15px; padding-right: 15px; width: 100%;">
              <div class="{{sessionFlash.type}}">
                {{sessionFlash.message}}
              </div>
            </div>
          {{/if}}
          {{#each posts}}
            <div class="col-md-6">
              <div class="blog">
                <div class="blog-img">
                  <img
                    src={{post_file}}
                    style="width: 100%; height: 200px; object-fit: cover; border-radius: 2px;"
                  />
                </div>
                <div class="blog-content">
                  <ul class="blog-meta">
                    <li><i class="fas fa-users"></i><span
                        class="writer"
                      >{{author.userName}}</span></li>
                    <li><i class="fas fa-clock"></i><span
                        class="writer"
                      >{{generateDate date "MMM Do LT"}}</span></li>
                    <li><i class="fas fa-comments"></i><span
                        class="writer"
                      >13</span></li>
                  </ul>
                  <h3>{{title}}</h3>
                  <p>{{textLengthControl content 97}}</p>

                  <a href="/posts/{{_id}}">Read More</a>
                </div>
              </div>
            </div>
          {{/each}}
          <nav aria-label="Page navigation example" class="col-12 mt-5">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </main>

      <aside id="aside" class="col-md-4">
        {{> searchPost}}
        
       {{> categories}}

       {{> latestPost}}

      </aside>

    </div>

  </div>
</section>